/*NOTES*/
/*BELUM: REPOSITION DROPDOWN KE KANAN, KASIH ICON ARROW DOWN KE DROPDOWN*/


body {
    margin-top: 70px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: #f7f3e7;
    font-family: 'DM Serif Display', serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    gap: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    z-index: 100;
    border-bottom: 3px solid #20396e;
    width: 100%;
}

.navbar:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
}

.hyplink {
    display: flex;
    gap: 60px;
    /* New gap (Original 100 overflow from screen - James) */
    flex-direction: row;
    /* Ensure it locks to row */
}

.navbar .logos {
    display: flex;
    
    gap: 20px;
    align-items: center;
}
.navbar .logos img {
    width: 80px;
}

.navbar .hyplink a {
    text-decoration: none;
    color: #20396e;
    font-weight: bold;
    margin-left: 20px;
    font-size: 18px;
    transition: color 0.3s ease, transform 0.3s ease;    
}             

.navbar .hyplink a:hover {
    color: #1f0469;
    transform: scale(1.05);
}

.menu {
    position: relative;
    list-style: none;
    display: flex;
    width: 50px;
    border-radius: 3px;
    margin-left: 130px;
}

.submenu {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 0;
    list-style: none;
    background-color: rgb(235, 234, 234);
    padding: 10px;
    border-radius: 5px;
    box-shadow:rgba(0, 0, 0, 0.3) 0px 4px 8px;
    transition: all 0.3s ease-in-out;
}

.menu:hover .submenu {
    opacity: 1;
    top: 100%;
    pointer-events: auto;
}

.menu li {
    display: flex;
    flex-direction: row;
}

.menu img {
    width: 35px;
    height: 30px;
    align-self: center;
    margin-left: 5px;
}

.menu li ul li {
    padding: 8px 12px;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
}

.menu li ul li:hover {
    background-color: #dbdbdb;
    cursor: pointer;
}

.container {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0 20px;
    transition: all 0.3s ease;
}

.menu:hover .container {
    background-color:#eeeeee;
}

.backgroundpic {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.backgroundpic img{
    width: 100%;
    object-position: 0 100%;
    height: 125vh;
    object-fit: cover;
    filter: brightness(40%) blur(2px);
    box-sizing: border-box;
}

.backgroundpic h1 {
    position: absolute;
    color: #ffffff;
    background-color: black;
    font-size: 60px;
    text-align: center;
    z-index: 1;
    width: 80%;
    line-height: 1.2;
}